<article
  class="flex flex-col-reverse md:flex-row items-center justify-center gap-8 text-gray-300"
>
  <div
    class="text-pretty flex flex-col gap-5 [&>p>strong]:text-yellow-200 [&>p>strong]:font-normal"
  >
    <p>
      Me llamo Fabrizio Ossola y soy Desarrollador Fullstack. <strong
        >Actualmente estoy trabajando como Desarrollador Frontend Junior en
        Dazlabs</strong
      >.
    </p>

    <p>
      <strong>Me especializo en Desarrollo Frontend</strong> con tecnologías como
      Typescript, Javascript, React, Next.js, Astro, Tailwind, MaterialUI, Redux,
      Zustand, HTML, CSS, etc, pero <strong
        >también tengo conocimientos de Desarrollo Backend</strong
      > con tencologías como Typescript, Javascript, Node.js, Express, PostgresSQL
      y Sequelize.
    </p>
  </div>

  <img
    src="/foto-fabrizio.jpg"
    alt="fabrizio ossola photo"
    width="256"
    height="256"
    class="object-cover p-2 aspect-square rounded-2xl bg-yellow-500/5 ring-1 ring-white/20"
  />
</article>
