---
import EducationItem from './EducationItem.astro'

const EDUCATION = [
  {
    date: 'Marzo 2024',
    title: 'Curso de Programación en Java',
    institution:
      'Universidad Provincial de Administración, Tecnología y Oficios (UPATecO)',
    description:
      'Curso de introducción a la programación con Java, en el que fuimos resolviendo trabajos prácticos con distintas actividades en dicho lenguaje.',
  },
  {
    date: 'Agosto 2022 - Abril 2023',
    title: 'Desarrollo Web Fullstack',
    institution: 'SoyHenry',
    description:
      'Bootcamp de Desarrollo Web Fullstack, en donde aprendí desarrollo frontend con Javascript, React, Redux, HTML, CSS, desarrollo backend con Node, Express y bases de datos con PostgresSQL y Sequelize. Además, desarrollé un proyecto individual y un proyecto grupal junto a un equipo de 5 personas.',
  },
  {
    date: 'Diciembre 2021',
    title: 'Introducción a la programación en Python',
    institution: '1000 programadores salteños',
    description:
      'Curso de introducción a la programación con Python, en el que aprendí las bases del lenguaje y desarrollamos un proyecto final.',
  },
  {
    date: 'Marzo 2016 - Diciembre 2020',
    title: 'Educación Secundaria',
    institution: 'Colegio Américo Vespucio',
    description:
      'Cursé y finalicé la educación secundaria con orientación en Ciencias Naturales en Salta, Capital.',
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EDUCATION.map((education) => (
      <li class="mb-10 ms-4">
        <EducationItem {...education} />
      </li>
    ))
  }
</ol>
