---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCIE = [
  {
    date: 'Diciembre 2023 - Actualmente',
    title: 'Frontend Developer Junior',
    company: 'Dazlabs',
    description:
      'Software Factory. Desarrollar pantallas y componentes 100% personalizados. Optimizar y mantener interfaces, elementos Frontend y sitios web. Adaptar aplicaciones web a dispositivos móviles. Consumir la API desarrollada por el equipo backend. Seguir el diseño desarrollado por el equipo UX/UI. Liderar un equipo para desarrollar una red social desde 0.',
    technologies: 'Typescript • React • Tailwind • Zustand • Moralis',
    link: 'https://www.linkedin.com/company/day-zero-labs/',
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
