---
import FileCVIcon from '../icons/FileCV.astro'
import XCloseIcon from '../icons/XClose.astro'
---

<dialog id="modal_cv">
  <div
    id="modal_bg"
    class="bg-black/60 w-full h-full fixed top-0 left-0 flex items-center justify-center"
  >
    <div
      id="modal_content"
      class="bg-[#272751] text-white/90 rounded-lg px-10 py-36 w-[90%] sm:w-[300px] flex flex-col items-center gap-10 relative"
    >
      <form
        id="close_button"
        method="dialog"
        class="rounded-full p-[2px] bg-white cursor-pointer text-gray-800 absolute top-5 right-5"
      >
        <XCloseIcon />
        <button class="hidden">close</button>
      </form>
      <h3 class="font-bold text-lg text-center">
        ¿Descargar Fabrizio Ossola CV.pdf? (230 KB)
      </h3>
      <a
        href="/Fabrizio Ossola CV.pdf"
        target="_blank"
        rel="noopener noreferrer"
        download="Fabrizio Ossola CV.pdf"
        class="rounded-full border border-gray-300 flex justify-center w-fit items-center text-md gap-2 py-1 px-4 text-gray-800 bg-white hover:bg-gray-100 hover:scale-105 transition"
      >
        <FileCVIcon class="size-6" />
        Descargar CV
      </a>
    </div>
  </div>
</dialog>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const modal = document.getElementById('modal_cv') as HTMLDialogElement
    const closeButton = document.getElementById('close_button')
    const modalBg = document.getElementById('modal_bg')
    const modalContent = document.getElementById('modal_content')

    function blockScroll() {
      document.body.style.overflow = 'hidden'
    }

    function unblockScroll() {
      document.body.style.overflow = ''
    }

    const openModalButton = document.querySelector(
      'button[onclick="modal_cv.showModal()"]'
    )

    if (openModalButton) {
      openModalButton.addEventListener('click', () => {
        modal.showModal()
        blockScroll()
      })
    }

    if (closeButton) {
      closeButton.addEventListener('click', () => {
        if (modal) {
          modal.close()
          unblockScroll()
        }
      })
    }

    if (modalBg) {
      modalBg.addEventListener('click', (event) => {
        if (event.target === modalBg && modal) {
          modal.close()
          unblockScroll()
        }
      })
    }

    if (modalContent) {
      modalContent.addEventListener('click', (event) => {
        event.stopPropagation()
      })
    }

    modal.addEventListener('close', () => {
      unblockScroll()
    })

    const downloadCVLink = document.querySelector(
      'a[onclick="modal_cv.showModal()"]'
    )
    if (downloadCVLink) {
      downloadCVLink.addEventListener('click', (event) => {
        event.preventDefault()
        modal.showModal()
        blockScroll()
      })
    }
  })
</script>
