<a
  class="rounded-full flex justify-center items-center text-md gap-2 py-1 px-4 text-gray-800 bg-gray-100 hover:bg-gray-50 hover:scale-105 transition"
  {...Astro.props}
  rel="noopener noreferrer"
  target="_blank"
>
  <slot />
</a>
